.notification {
  background: #FF5A5F;
  padding: 10px 5px;
}

.hide-me {
  animation: cssAnimation 0s ease-in 5s forwards;
}

@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}
